{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% block naavbarLinks %}{% endblock %}
        {% block login %}

            {% if role is defined and role != "" %}
                {% block logout %}{{parent()}}{% endblock %}

            {% else %}

                {% block loginSignIn %}{{parent()}}{% endblock %}
            {% endif %}

        {% endblock %}

        

    <div>
        {% if InscriptSuccess is defined and InscriptSuccess != null %}
            <div  id = "message" class ="successs text-center mt-5">{{InscriptSuccess}}</div>
        {% endif %}
        {# {{remove}} #}
        <form method="post" class="form-login" id="form">
            <div class="d-flex mb-1">
                <a name="" id="" class="btn m-3 pl-5" href="{{path('catalogue')}}" role="button"><i class="fa-solid fa-circle-left"></i> <span>Catalogue</span></a>
            </div>
            <div class="">
                <h1 class="h4 font-weight-bold">Connectez-vous pour accéder à plus de fonctionnalités!</h1>
            </div>
            {% if error %}
                <div class="text-center danger">Login ou mot de pass incorrect</div>
            {% endif %}
            <div class="control">
                <label for="inputEmail">Email</label>
                <input type="text" value="{{ last_username }}" name="email" id="email" class="box"  autocomplete="email" autofocus>
                <small></small>
            </div>
            <div class="control">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="password" class="box"  autocomplete="current-password" >
                <small></small>
            </div>

            <input type="hidden"  name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <input  type="submit" value="S'inscrire" class="btn">
            <div>
                <a name="" id="" class="d-block" href="{{path('newClient')}}" role="button">Vous n'avez pas de compte ? S'inscrire</a>
            </div>  
        </form>  
    </div>


    {% block js %}
        <script src="js/login.js"></script>
    {% endblock %}
    <style>#loginButton{background-color:#eacf4f;color:#000;}</style>
{% endblock %}
