{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ie.css">
{% endblock %}
{% block body %}

    
    <span id="pdfdownload" value="{{success}}" ></span>

    {% block naavbarLinks %}
            {% block Gestionnaire %}{% endblock %}
            {% block Client %}{{parent()}}{% endblock %}

    {% endblock %}

    {% block login %}
        {% block loginSignIn %}{% endblock %}
        {% block logout %}{{parent()}}{% endblock %}
    {% endblock %}

        {% if errorNumber is defined and errorNumber != null %}
            <div  id = "message" class =" danger text-center ">{{errorNumber}}</div>
            <span class="d-none">{{removeSessionNumber}}</span>
        {% endif %}
        
        {% if errorMontant is defined and errorMontant != null %}
            <div  id = "message" class =" danger text-center ">{{errorMontant}}</div>
            <span class="d-none">{{removeSessionMontant}}</span>
        {% endif %}
      
        {% if success is defined and success != "" %}
            <div  id = "validation" class ="successs text-center">
                <div class="">{{success}} , Télécharger votre reçu ?</div>
                <div class="d-block p-3">
                    <a  id="download"     href="#"  style="cursor:pointer" class="mr-3">télécharger</a>
                    <a  id="notDownload"  href="#"  style="cursor:pointer ; color:red;" class="">annuler</a>
                </div>
            </div>
            <span class="d-none">{{removeSessionSuccess}}</span>
        {% endif %}

        {% if successCommande is defined and successCommande != "" %}
            <div  id = "message" class =" successs text-center ">{{successCommande}}</div>
            <span class="d-none">{{removeSessionSuccessCommande}}</span>
        {% endif %}

        {% if errorValidation is defined and errorValidation != null %}
            <div  id = "message" class =" danger text-center ">{{errorValidation}}</div>
            <span class="d-none">{{removeErrorValidation}}</span>
        {% endif %} 
        {% if alreadyPayed is defined and alreadyPayed != null %}
            <div  id = "message" class =" danger text-center ">{{alreadyPayed}}</div>
            <span class="d-none">{{removeAlreadyPayed}}</span>
        {% endif %} 
        {% if commandeValider is defined and commandeValider != null %}
            <div  id = "message" class =" successs text-center ">{{commandeValider}}</div>
            <span class="d-none">{{removecommandeValider}}</span>
        {% endif %} 
        
        <div class="filtre2">
            <label> Etat </label>
            <select name="choice" class="box m-0" id="option">
                <option id="test1">Choisir...</option>
                <option value="en cours">En cours</option>
                <option value="valider">Validée</option>
                <option value="annuler">Annulée</option>
            </select>
        </div>
    {% if isVide == 0 %}
        <div class="vide">
            <h1>Aucune commande! </h1>
        </div>
    {% else %}
       
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
                <div class="tools">
                <ul>
                    <li>
                    <button>
                       <span class="badge badge-warning p-2"><i class="fa-solid fa-triangle-exclamation "></i> Commande non payée</span>
                    </button>
                    </li>
                    <li>
                    <button>
                        <span class="badge badge-success p-2"><i class="fas fa-check"></i> Commande validée et payée</span>
                    </button>
                    </li>
                    <li>
                    <button>
                       <span class="badge badge-danger p-2"><i class="fa-solid fa-circle-xmark"></i> Commande annulée</span>
                    </button>
                    </li>
                    <li>
                    <button>
                        <span class="badge badge-dark p-2"><input type="checkbox" disabled/> Commande non validée ou déjà payé</span>
                    </button>
                        
                    </li>
                </ul>
                </div>

            </div> 

            <!-- ======= Form ======= -->
            <form method = "POST" action="{{path('paiement')}}" id="form">

                <!-- ======= Table ======= -->
                <table class="datatable mt-4">
                    <thead>
                    <tr>
                        <th>Choisir</th>
                        {# <th>Status</th> #}
                        <th>Numero commande</th>
                        <th>Date</th>
                        <th>Commandes</th>
                        <th>Montant</th>
                        <th>Etat</th>
                        <th>Paiement</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for item in myCommandes %}
                            <tr>
                                <td>
                                    {% if item.etat == "valider" and item.paiement.montant == 0 %}
                                        <input type="checkbox" name="commandeAPayer[]"  value="{{item.id}}"/>
                                    {% else %}
                                        <input type="checkbox" disabled/>                                    
                                    {% endif %}
                                </td>
                                <td>{{item.numero}}</td>

                                <td>{{item.date |date("d/m/Y")}}</td>

                                {% if item.burgers != null or item.menus != null %}
                                    <td>
                                        {% for itemBurger in item.burgers %}
                                            <span class="p-2">{{itemBurger.nom}}</span>
                                        {% endfor %}
                                        {% for itemMenu in item.menus %}
                                            <span class="p-2">{{itemMenu.nom }}</span>
                                        {% endfor %}
                                    </td>
                                {% endif %}

                                <td>{{item.montant}}</td>

                                <td>{{item.etat}}</td>

                            {% if item.paiement.montant == 0 %}
                                    <td><span class="badge badge-warning ml-4 "><i class="fa-solid fa-triangle-exclamation "></i></span></td>
                                {% elseif item.paiement.montant != 0 %}
                                    <td><span class="badge badge-success ml-4 "><i class="fas fa-check "></i></span></td>
                                {% elseif item.etat == "annuler" %}
                                    <td><span class="badge badge-danger ml-4"><i class="fa-solid fa-circle-xmark mt-1"></i></span></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
             
                <!-- ======= EndForm ======= -->

                <!-- ======= Footer tools ======= -->
                <div class="footer-tools">
                    <button id="payer" disabled class="btn pl-5 pr-5" >Payer</button>
                
                    {% if isPaginated  %}
                        <div class="pages">
                            <ul>
                            {% if page != 1 %}
                                <a href="{{path('mescommandes' , {page : page - 1 , nbre : nbre } ) }}" class="aNav"> <span aria-hidden='true'>&laquo;</span></a> 
                            {% endif %}

                            {% for i in range (1 , nbPage) %}
                                {% if i != 0 %}
                                    <a href="{{path('mescommandes' , {page : i , nbre : nbre } ) }}" class="aNav">{{i}}</a>    
                                {% endif %}
                            {% endfor %} 

                            {% if page != nbPage %}
                                <a href="{{path('mescommandes' , {page : page + 1 , nbre : nbre } ) }}" class="aNav"><span aria-hidden='true'>&raquo;</span></a>
                            {% endif %}
                            </ul>
                        </div>  
                    {% endif %}
                </div>
            </form>
        </div>
            <script src="/js/mescommandes.js"></script>
            <script src="/js/paiement.js"></script>
            <script src="/js/catalogue.js"></script>
            <script src="/js/pdf.js"></script>
            <style>#link-mescommandes{color:#eacf4f;}</style>
    {% endif %}
{% endblock %}
