{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ie.css">
{% endblock %}
{% block body %}
    {% block naavbarLinks %}
         {% if role is defined and role == "ROLE_ADMIN" %}
            {% block Gestionnaire %}{{parent()}}{% endblock %}

         {% elseif role is defined and role == "ROLE_CLIENT" %}
            {% block Client %}{{parent()}}{% endblock %}
         {% endif %}

      {% endblock %}
      
      {% block login %}

         {% if role is defined and role != "" %}

            {% block logout %} {{parent()}} {% endblock %}

         {% else %}

            {% block loginSignIn %} {{parent()}} {% endblock %}

         {% endif %}

      {% endblock %}
        <form method="GET" action="{{path('commandeValidate')}}">
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
                <div class="tools">
                </div>  
            </div> 

            <!-- ======= Table ======= -->
            {% if items | length > 0 %}
                <table class="datatable mt-4">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom </th>
                        <th>Prix</th>
                        <th>Quantités</th>
                        <th>ajouter des compléments</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{item.produit.type}}</td>
                                <td>{{item.produit.nom}}</td>
                                <td>{{item.produit.prix}} F CFA</td>
                                <td><a  href="{{path('moins', {'id':item.produit.id ~ item.produit.type}) }}" class="btn mr-2 action moins">-</a> {{item.quantite}} <a  href="{{path('addition', {'id':item.produit.id ~ item.produit.type}) }}" class="btn ml-2 action plus" value="1">+</a></td>
                                 <td class="p-0 w-25">
                                   {% if item.produit.type == "Burger" %}
                                     <select class="select2" name="complementadded[]" id="" multiple="multiple">
                                        {% for items in complements %}
                                            <option value="{{items.id ~ '-' ~ item.quantite}}">{{items.nom}}</option>
                                        {% endfor %}
                                     </select>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td><a class="deleteCommande" name="deleteCommande" value="{{item.quantite}}"  href="{{path('remove', {'id':item.produit.id ~ item.produit.type}) }}"> <i class="fa-solid fa-trash-can text-danger"></i><a/></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="totalTexte">Total :</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="total">{{total}} FCFA</td>
                        </tr>
                    </tbody>
                </table>
          
            <!-- ======= Footer tools ======= -->
            <div class="footer-tools">
                <div class="pages">
                    <ul>
                        <button id="validerCommande" class="btn ml-2">Valider la commande</button>
                    </ul>
                </div>  
            </div>
            {% else %}
                <div class="vide">
                    <h1> Votre panier est vide! </h1>
                </div>
            {% endif %}
        </div>
        </form>
        
        <script src="/js/reglerPaiement.js"></script>
        <script src="/js/catalogue.js"></script>
        <style>#link-panier{color:#eacf4f;text-decoration: underline;}.select2-container{width: 350px !important;}.select2-container--default .select2-selection--multiple {height: 60px;}</style>
        <style>#link-paniernotconnected{color:#eacf4f;}</style>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.select2').select2();
            });
        </script>
{% endblock %}
