{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

      {% block naavbarLinks %}
         {% if role is defined and role == "ROLE_ADMIN" %}
            {% block Gestionnaire %}{{parent()}}{% endblock %}

         {% elseif role is defined and role == "ROLE_CLIENT" %}
            {% block Client %}{{parent()}}{% endblock %}
         {% endif %}

      {% endblock %}
      
      {% block login %}

         {% if role is defined and role != "" %}

            {% block logout %}{{parent()}}{% endblock %}

         {% else %}

            {% block loginSignIn %}{{parent()}}{% endblock %}

         {% endif %}

      {% endblock %}

<section class="home" id="home">
   <div class="content row">
      <div class="bienvenue col-md-6 text-center">
         <h3 data-aos="zoom-in-down" data-aos-delay="150" class="welcome  mt-5">Bienvenue Chez Brasil Burger</h3>
         <p data-aos="zoom-in-down" data-aos-delay="200">Brasil Burger Sénégal est l’un des meilleurs restaurants de Hamburger à Dakar</p>
         <a data-aos="" data-aos-delay="" href="#menu" class="btn">Voir notre menu</a>
      </div>
      <div class="col-md-6 img-bienvenue">
         <img data-aos="fade-up" data-aos-delay="150" src="images/burger-baner.png" alt="">
      </div>
   </div>
</section>

<!-- home section ends -->

<!-- service sectioin starts  -->

<section class="service">

   <div class="box" data-aos="fade-up" data-aos-delay="150">
      <i class="fas fa-hamburger"></i>
      <h3>meilleure qualité</h3>
      <p>Manger de bons hamburgers à Dakar n’est pas une des choses les plus simples. Brasil Burger est donc l'endroits où l’on mange les meilleurs burgers de la capitale.</p>
   </div>

   <div class="box" data-aos="fade-up" data-aos-delay="300">
      <i class="fas fa-shipping-fast"></i>
      <h3>Fiabilité et rapidité</h3>
      <p>Avoir une excellente présentation, un sens du contact avec la clientèle, être rapide et réactif en période d'affluence, tels sont les atouts de Brasil Burger.</p>
   </div>

   <div class="box" data-aos="fade-up" data-aos-delay="450">
      <i class="fas fa-headset"></i>
      <h3>24/7 Ouvert</h3>
      <p>Avoir une forte motivation, une bonne résistance physique (travail en station debout toute la journée, Savoir s'organiser, se montrer disponible.</p>
   </div>

</section>

<!-- service sectioin ends -->


<!-- menu section starts  -->

      <section class="menu" id="menu">
         <div class="heading">
            <img src="images/title-img.png" alt="">
            <h3 class="btn-shine">Notre menu</h3>
         </div>
         <div class="box-container">
            {% for item in catalogue %}
               <div class="box" id="main" data-aos="zoom-in-down" data-aos-delay="150">
                <img src="images/{{item.image.nom}}" alt="">
                  <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>{{item.nom}}</h3>
                    <div class="price">F CFA {{item.prix}}</div>
                     {% if role is defined and role == "ROLE_CLIENT" or role == "" %}
                        <a href="{{path('add', {'id':item.id ~ item.type}) }}" class="btn btn-commande ml-2">ajouter au panier </a>
                        <a href="{{'showDetails/' ~ item.id}}" class="btn ml-2">Détails</a>
                     {% endif %}
                  </div>
               </div>
            {% endfor %}
               <div class="validation" id="validation">  
                  <h3 id="action"></h3>
                  <div class="validation-button" id="validation-button"> 
                     <a  id="annuler" href="#main" style="background-color:red" class="btn"> annuler</a>
                     <a  id="continuer" href="#"  style="background-color:green" class="btn">continuer</a>
                  </div>
               </div>
         </div>
      </section>

<!-- about section starts  -->

<section class="about" id="about">

   <div class="image" data-aos="fade-right" data-aos-delay="150">
      <img src="images/about-img.png" alt="">
   </div>

   <div class="content" data-aos="fade-left" data-aos-delay="300">
      <h3 class="title">Pourquoi acheter chez Brasil Burger ?</h3>
      <p>
         Manger de bons hamburgers à Dakar n’est pas une des choses les plus simples. Brasil Burger est donc l'endroits où l’on mange les meilleurs burgers de la capitale
      Avoir une excellente présentation, un sens du contact avec la clientèle, être rapide et réactif en période d'affluence, tels sont les atouts de Brasil Burger.
      </p>
      <div class="icons">
         <h3> <i class="fas fa-check"></i> Meilleur Prix </h3>
         <h3> <i class="fas fa-check"></i> Meilleur Service </h3>
         <h3> <i class="fas fa-check"></i> Ingrédient Frais</h3>
         <h3> <i class="fas fa-check"></i> Pain de Qualite </h3>
         <h3> <i class="fas fa-check"></i> Fromage Naturel </h3>
         <h3> <i class="fas fa-check"></i> vegetal ou non </h3>
      </div>
      <div class="d-flex justify-content-center">
         <a href="#menu" class="btn">Passer une commande</a>
      </div>
   </div>

</section>

<!-- about section ends -->

<!-- reviews section starts  -->

{# <section class="reviews" id="reviews">

   <div class="heading">
      <img src="images/title-img.png" alt="">
      <h3>testimonial</h3>
   </div>

   <div class="box-container">

      <div class="box" data-aos="fade-up" data-aos-delay="150">
         <img src="images/pic-1.png" alt="">
         <h3>john deo</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui accusamus autem! Veniam exercitationem adipisci in excepturi labore magni voluptatibus?</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>

      <div class="box" data-aos="fade-up" data-aos-delay="300">
         <img src="images/pic-2.png" alt="">
         <h3>john deo</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui accusamus autem! Veniam exercitationem adipisci in excepturi labore magni voluptatibus?</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>

      <div class="box" data-aos="fade-up" data-aos-delay="450">
         <img src="images/pic-3.png" alt="">
         <h3>john deo</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis qui accusamus autem! Veniam exercitationem adipisci in excepturi labore magni voluptatibus?</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
      </div>

   </div>

</section> #}

<!-- reviews section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

   <div class="heading">
      <img src="images/title-img.png" alt="">
      <h3 class="btn-shine">Nous contacter</h3>
   </div>
   <div class="row">        
        <iframe data-aos="fade-up" data-aos-delay="150" class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15437.059157320557!2d-17.4587152!3d14.6976123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3bb7eae885f9e94!2sBrasil%20Burger%20Senegal!5e0!3m2!1sfr!2ssn!4v1650939045350!5m2!1sfr!2ssn" allowfullscreen="" loading="lazy"></iframe>
        <div class="form">
            <div class="icons-container">

               <div class="icons" data-aos="fade-up" data-aos-delay="150">
                  <i class="fas fa-map"></i>
                  <h3> Adresse :</h3>
                  <p>Dakar , Point E</p>
               </div>

               <div class="icons" data-aos="fade-up" data-aos-delay="300">
                  <i class="fas fa-envelope"></i>
                  <h3> email :</h3>
                  <p>brasilburger@gmail.com</p>
               </div>

               <div class="icons" data-aos="fade-up" data-aos-delay="450">
                  <i class="fas fa-phone"></i>
                  <h3>Telephone :</h3>
                  <p>+221-771-249-886</p>
               </div>
         </div>
      </div>
   </div>
</section>

<!-- contact section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

   <div class="heading">
      <img src="images/title-img.png" alt="">
   </div>

   <div class="box-container">

      <div class="box" data-aos="fade-up" data-aos-delay="150">
         <div class="image">
            <img src="images/blog-1.jpg" alt="">
            <div class="icons">

            </div>
         </div>
         <div class="content">
            <h3>blog title goes here.</h3>
            <p>Avoir une excellente présentation, un sens du contact avec la clientèle, être rapide et réactif en période d'affluence.</p>
            
         </div>
      </div>

      <div class="box" data-aos="fade-up" data-aos-delay="300">
         <div class="image">
            <img src="images/blog-2.jpg" alt="">
            <div class="icons">
              
            </div>
         </div>
         <div class="content">
            <h3>blog title goes here.</h3>
            <p>Manger de bons hamburgers à Dakar n’est pas une des choses les plus simples. Les meilleurs burgers c'est ici  </p>
            
         </div>
      </div>

      <div class="box" data-aos="fade-up" data-aos-delay="450">
         <div class="image">
            <img src="images/blog-3.jpg" alt="">
            <div class="icons">
            </div>
         </div>
         <div class="content">
            <h3>blog title goes here.</h3>
            <p>Brasil Burger est donc l'endroits où l’on mange les meilleurs burgers de la capitale.</p>
            
         </div>
      </div>

   </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">
   <div class="links">
      <a href="#home" class="rounded-circle"><i class="fa-solid fa-angle-up"></i></a>
   </div>
   <p class="credit"> created by <span>imamniass123@gmail.com</span> | all rights reserved! </p>
</section>

<!-- footer section ends -->
<script src="/js/catalogue.js"></script>
<style>#link-catalogue{color:#eacf4f;}</style>

{% endblock %}
