{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

      {% block naavbarLinks %}
         {% if role is defined and role == "ROLE_ADMIN" %}
            {% block Gestionnaire %}{{parent()}}{% endblock %}

         {% elseif role is defined and role == "ROLE_CLIENT" %}
            {% block Client %}{{parent()}}{% endblock %}
         {% endif %}

      {% endblock %}
      
      {% block login %}

         {% if role is defined and role != "" %}

            {% block logout %}{{parent()}}{% endblock %}

         {% else %}

            {% block loginSignIn %}{{parent()}}{% endblock %}

         {% endif %}

      {% endblock %}
<div class="ml-5">
   <a  href="{{path('catalogue')}}" class="btn pl-5" ><i class="fa-solid fa-circle-left"></i> <span>Catalogue</span></a>
</div>
<section class="about mt-5" id="about">
   {% if details is defined %}   
      <div class="image" data-aos="fade-right" data-aos-delay="150">
         <img src="/images/{{details.image.nom}}" alt="" class="img-details">
      </div>
      <div class="content" data-aos="fade-left" data-aos-delay="300">
         <h3 class="title text-center">Deguster notre {{details.type}} <span class="name">{{details.nom}}</span> </h3>
         {# <p>
            Manger de bons hamburgers à Dakar n’est pas une des choses les plus simples. Brasil Burger est donc l'endroits où l’on mange les meilleurs burgers de la capitale
         Avoir une excellente présentation, un sens du contact avec la clientèle, être rapide et réactif en période d'affluence, tels sont les atouts de Brasil Burger.
         </p> #}
         <h1>{{details.prix}} F CFA<h1>
         <div class="icons">
            <h3> <i class="fas fa-check"></i> Meilleur Prix </h3>
            <h3> <i class="fas fa-check"></i> Meilleur Service </h3>
            <h3> <i class="fas fa-check"></i> Ingrédient Frais</h3>
            <h3> <i class="fas fa-check"></i> Pain de Qualite </h3>
            <h3> <i class="fas fa-check"></i> Fromage Naturel </h3>
            <h3> <i class="fas fa-check"></i> vegetal ou non </h3>
         </div>
         <div class="d-flex justify-content-center">
            <a href="{{path('add', {'id':details.id ~ details.type}) }}" class="btn btn-commande">ajouter au panier </a>
         </div>
      </div>      
   {% endif %}
   <script src="/js/catalogue.js"></script>
   <style>#link-catalogue{color:#eacf4f;}</style>
</section>
  {% if details.type == "Burger" %}
            <section class="menu " id="menu">
               <div class="box-container">
                  {% for item in burgers %}
                     <div class="box" id="main" data-aos="zoom-in-down" data-aos-delay="150">
                     <img src="/images/{{item.image.nom}}" alt="">
                        <div class="content">
                        <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{item.nom}}</h3>
                        <div class="price">F CFA {{item.prix}}</div>
                           {% if role is defined and role == "ROLE_CLIENT" or role == "" %}
                              <a href="{{path('add', {'id':item.id ~ item.type}) }}" class="btn btn-commande ml-2">ajouter au panier </a>
                              <a href="{{'showDetails/' ~ item.id ~ item.type}}" class="btn ml-2">Détails</a>
                           {% endif %}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </section>
      {% endif %}
{% endblock %}
