{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ie.css">
{% endblock %}
{% block body %}

    {% block naavbarLinks %}
            {% block Gestionnaire %}{{parent()}}{% endblock %}
            {% block Client %}{% endblock %}

    {% endblock %}

    {% block login %}
        {% block loginSignIn %}{% endblock %}
        {% block logout %}{{parent()}}{% endblock %}
    {% endblock %}
    {% if commandeValiderByGest is defined and commandeValiderByGest != null %}
        <div  id = "message" class =" successs text-center ">{{commandeValiderByGest}}</div>
        <span class="d-none">{{removecommandeValiderByGest}}</span>
    {% endif %} 
    {% if commandeAnnulerByGest is defined and commandeAnnulerByGest != null %}
        <div  id = "message" class =" danger text-center ">{{commandeAnnulerByGest}}</div>
        <span class="d-none">{{removecommandeAnnulerByGest}}</span>
    {% endif %} 
        <div class="overflow-auto filtre mt-5 mb-5" style="margin-left:9rem ;">
            <label> Etat </label>
            <select name="choiceEtat" class="box m-0" id="choiceEtat">
                <option id = "test" value=""></option>
                <option value="en cours">En cours</option>
                <option value="valider">Validée</option>
                <option value="annuler">Annulée</option>
            </select>

            <label class=""> Produits </label>
            <select name="choiceProduit" class="box m-0" id="choiceProduit">
                <option value="">Choisr...</option>
                <option value="Burger">Burger</option>
                <option value="Menu">Menu</option>
            </select>

            <label class=""> Client </label>
            <select name="choiceClient" id="choiceClient" class="box m-0  select2">
                <option value="">Choisr...</option>
                {% for item in clients %}
                    <option value="{{item.id}}">{{item.prenom ~ ' ' ~ item.nom}}</option>
                {% endfor %}
            </select>

            <label class="">Date</label>
            <input type="date" class="box" name="choiceDate" id="choiceDate" onchange="filterByDaye(event);">
        </div>
    {% if isVide == 0%}
        <div class="vide">
            <h1> Aucune commande n'a été enregistré! </h1>
        </div>
    {% else %}
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
                <div class="tools">
                    <ul>
                        <li>
                        <button>
                            <span class="badge badge-warning p-2"><i class="fa-solid fa-triangle-exclamation "></i> Commande non payée</span>
                        </button>
                        </li>
                        <li>
                        <button>
                            <span class="badge badge-success p-2"><i class="fas fa-check"></i> Commande payée et acceptée</span>
                        </button>
                        </li>
                        <li>
                        <button>
                        <span class="badge badge-danger p-2"><i class="fa-solid fa-circle-xmark"></i> Commande annulée</span>
                        </button>
                        </li>
                    </ul>
                </div>

            </div> 
            <form method="POST" action="{{path('traitement')}}">
                <!-- ======= Table ======= -->
                <table class="datatable mt-4">
                    <thead>
                    <tr>
                        <th>Choisir</th>
                        {# <th>Status</th> #}
                        <th>Commandes</th>
                        <th>Date</xth>
                        <th>Numero </th>
                        <th>Montant</th>
                        {# <th>Etat</th> #}
                        <th>Paiement</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in commandes %}
                            <tr>
                                <td>
                                    {% if item.etat == "en cours" %}
                                        <input type="checkbox" / name="commandeATraiter[]" value="{{item.id}}">
                                    {% else %}
                                        <input type="checkbox" / disabled>
                                    {% endif %}
                                </td>

                                {% if item.burgers != null or item.menus != null %}
                                    <td>
                                        {% for itemBurger in item.burgers %}
                                            <span class="p-2">{{itemBurger.nom }}</span>
                                        {% endfor %}
                                        {% for itemMenu in item.menus %}
                                            <span class="p-2">{{itemMenu.nom }}</span>
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                <td>{{item.date |date("d/m/Y")}}</td>
                                <td>{{item.numero}}</td>


                                <td>{{item.montant}} FCFA</td>

                                {# <td>{{item.etat}}</td> #}

                                {% if item.paiement.montant == 0 %}
                                    <td><span class="badge badge-warning ml-4 "><i class="fa-solid fa-triangle-exclamation "></i></span></td>
                                {% elseif item.paiement.montant != 0 %}
                                    <td><span class="badge badge-success ml-4 "><i class="fas fa-check "></i></span></td>
                                {% elseif item.etat == "annuler" %}
                                    <td><span class="badge badge-danger ml-4"><i class="fa-solid fa-circle-xmark mt-1"></i></span></td>
                                {% endif %}

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
               
                <!-- ======= Footer tools ======= -->
                <div class="footer-tools">
                    <button style="margin-bottom:0px; margin-top: 0px;padding: 1px 7px;" class="btn">Traiter commande</button>

                    {% if isPaginated  %}
                        <div class="pages">
                            <ul>
                            {% if page != 1 %}
                                <a href="{{path('listCommande' , {page : page - 1 , nbre : nbre } ) }}" class="aNav"> <span aria-hidden='true'>&laquo;</span></a> 
                            {% endif %}

                            {% for i in range (1 , nbPage) %}
                                {% if i != 0 %}
                                    <a href="{{path('listCommande' , {page : i , nbre : nbre } ) }}" class="aNav">{{i}}</a>    
                                {% endif %}
                            {% endfor %} 

                            {% if page != nbPage %}
                                <a href="{{path('listCommande' , {page : page + 1 , nbre : nbre } ) }}" class="aNav"><span aria-hidden='true'>&raquo;</span></a>
                            {% endif %}
                            </ul>
                        </div>  
                    {% endif %}
                </div>
            </form>
        </div>
        <script src="/js/reglerPaiement.js"></script>
        <script src="/js/filterCommmandes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://rawgit.com/select2/select2/master/dist/js/select2.js"></script>
        <style>#link-commandes{color:#eacf4f;}</style>

        <script>
            $(document).ready(function() {
                $('.select2').select2();
            });

            $('#choiceClient').select2().on('change', function(e) {
                document.location.replace("/commande"+document.getElementById("choiceClient").value)

            });

        </script>
        <style>
            .select2-container {
                width: 15% !important;
            }
            .select2-container--default .select2-selection--single {
                height: 35px !important;
                margin-top: -4px !important;
            }
        </style>
        
    {% endif %}
{% endblock %}
