{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ie.css">
{% endblock %}
{% block body %}

    {% block naavbarLinks %}
            {% block Gestionnaire %}{{parent()}}{% endblock %}
            {% block Client %}{% endblock %}

    {% endblock %}

    {% block login %}
        {% block loginSignIn %}{% endblock %}
        {% block logout %}{{parent()}}{% endblock %}
    {% endblock %}
 
        <!-- ======= Form ======= -->
        <form method = "POST" action="{{path('commandeATraiter')}}" id="form">

            <div class="confirmation">
                <div class="paiement overflow-auto">
                    <div class="datatable-container ">           
                            <div class="d-flex mb-3">
                                <a  href="{{path('listCommande')}}" class="btn m-3 pl-5" ><i class="fa-solid fa-circle-left"></i> <span>Liste des commandes</span></a>
                            </div>
                            <!-- ======= Table ======= -->
                            <table class="datatable mt-4">
                                <thead>
                                <tr>
                                    <th>Numero commande</th>
                                    <th>Commandes</th>
                                    <th>Montant</th>
                                </tr>
                                </thead>
            
                                <tbody>
                                    {% for item in commandes %}
                                        <tr>
                                            <td>{{item.numero}}</td>            
                                            {% if item.burgers != null or item.menus != null %}
                                                <td>
                                                    {% for itemBurger in item.burgers %}
                                                        <span class="p-2">{{itemBurger.nom}}</span>
                                                    {% endfor %}
                                                    {% for itemMenu in item.menus %}
                                                        <span class="p-2">{{itemMenu.nom }}</span>
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
            
                                            <td>{{item.montant}} F CFA</td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            
                            <input type="submit" name="choix" value="annuler" class="mt-4  btn-danger traitement" data-aos-delay= "900">
                            <input type="submit" name="choix" value="valider" class=" mt-4 float-right btn-success traitement" data-aos-delay= "900">

                    </div>
                </div>
            </div>
        </form>

        <!-- ======= EndForm ======= -->
            <script src="/js/paiement.js"></script>
            <script src="/js/catalogue.js"></script>
            <style>
                .btn:hover{background : transparent; color: #fff ;}
                .traitement{padding: 10px 20px;border-radius: 5px;font-size: 18px;}
            </style>
{% endblock %}
